<div>

	<div class="box">
		<h1 class="text-center col-xs-12">Nuevo Producto</h1>	
	</div>

	<div>
		<%= render 'form' %>	
	</div>
	<div class="text-center">

		<div class="btn btn-primary btn-xs ">	
			<%= link_to 'Regresar', products_path,class:"blanco" %>
		</div>
	</div>
	
</div>

